@mixin padding-height3() {
    padding-top: 3%;
    padding-bottom: 3%;
}

@mixin padding-width10() {
    padding-left: 10%;
    padding-right: 10%;
}

@mixin box-styling() {
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6),
    -10px 10px 15px -1px rgba(255, 255, 255, 0.8);
    background-color: rgba(240, 240, 240, 0.75);
    border: 2px solid rgb(99, 91, 91);
    border-radius: 10px;
}

@mixin display-flex() {
    display: flex;
    justify-content: space-evenly;
}