@import 'variables';
@import 'mixins';

body {
  background-image: url('../images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hidden {
  display: none;
}

.welcome, .please-login, #newTripButton {
  margin-left: 5%;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10%;
  padding-right: 10%;
  @include padding-height3();
  @include box-styling();
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-inputs {
  margin-bottom: 30px;
  font-size: 1.5em;
  padding-left: 2%;
}

.login-labels {
  font-size: larger;
}

#loginButton, #newTripButton {
  padding-left: 15%;
  padding-right: 15%;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  @include padding-height3();
}

#newTripButton {
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#loginButton:active, #newTripButton:active {
  background-color: #000;
  color: #fff;
}

.login-error {
  color: red;
  font-weight: 400;
  text-align: center;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.past-trips, .pending-trips {
  border-radius: 10px;
  width: 40vw;
  height: 60vh;
  margin-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  @include box-styling();
}

.dash-header {
  font-size: 1.7em;
}
